extends layout

block content
    #container
        #hud
        #town

block templates
    include templates/hud-template.html
    include templates/street-template.html
    include templates/block-template.html
    include templates/structure-template.html
    include templates/town-template.html
    include templates/farm-template.html
    include templates/housing-template.html
    include templates/factory-template.html
    include templates/warehouse-template.html
    include templates/alert-template.html
    include templates/floating-menu-template.html
    include templates/warehouse-stats-template.html
    include templates/construction-office-template.html
    include templates/homeless-camp-template.html
