doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/min/main.min.js")
    script(type="text/javascript", src="/javascripts/coffee/main.js")
  body
    block content

    block templates

    .window-overlay
