<script type="text/template" id="block-template">
    <%
        if (typeof(structure) == "undefined"){
            structure = null;
        }
    %>

    <div class="block" data-id="<%=id%>">
        <div class="body">
            Block <%=id%>

            <p>
                <a href="#" class="btn" data-action="launch_build_menu">Build Here</a>
            </p>

            <!--
            <div class="build_actions">
                <a href="#" data-action="build_structure" data-value="farm">Build Farm</a>
                <a href="#" data-action="build_structure" data-value="factory">Build Factory</a>
                <a href="#" data-action="build_structure" data-value="housing">Build Housing</a>
            </div>
            -->

            <div class="structure"></div>
        </div>
    </div>
</script>
