<script type="text/template" id="block-template">
    <%
        if (typeof(structure) == "undefined"){
            structure = null;
        }
    %>

    <div class="body">
        <a href="#" data-action="launch_settings_menu">Block <%=id%></a>

        <% if (is_vacant){ %>
            <p>
                <a href="#" class="btn build_btn" data-action="launch_build_menu">Build Here</a>
            </p>
        <% } %>

        <div class="structure" <% if (structure){ %>data-id="<%=structure.id%>"<% } %>></div>
    </div>
</script>
