<script type="text/template" id="farm-template">
    <div class="farm">
        Farm (<%=state.current()%>)

        <% if (!built) { %>
            (not yet built)<br />
        <% } else if (state.current() == "idle") { %>
            <% if (crop == null){ %>
                <a href="#" data-action="select_crop" class="btn">Select Crop to Plant</a>
            <% } else { %>
                <a href="#" data-action="start_planting" class="btn">Plant Crop</a>
            <% } %>
        <% } else if (_.indexOf(['tilling_soil', 'planting', 'growing'], state.current()) > -1) { %>
            <%=percent_complete%>% Complete
            <br />
            <%=planted_crops.length%> Crops Planted
        <% } else if (state.current() == "growing") { %>
            Growing
        <% } else if (state.current() == "harvest"){ %>
            <%=percent_complete%>% Complete
            <br />
            <%=crops_harvested%> crops Harvested
        <% } %>
    </div>
</script>
