<script type="text/template" id="farm-template">
    <div class="farm">
        Farm (<%=state.current()%>)

        <% if (!built) { %>
            (not yet built)<br />
        <% } else if (state.current() == "idle") { %>
            <% if (crop == null){ %>
                <a href="#" data-action="select_crop" class="btn">Select Crop to Plant</a>
            <% } else { %>
                <a href="#" data-action="start_tilling" class="btn">Plant Crop</a>
            <% } %>

            <% if (crops_stored > 0){ %>
                <p><%=crops_stored%> Crops in Storage</p>
            <% } %>

        <% } else if (_.indexOf(['tilling_soil', 'planting', 'growing'], state.current()) > -1) { %>
            <%=percent_complete%>% Complete
            <p><%=planted_crops.length%> Crops Planted</p>
        <% } else if (state.current() == "growing") { %>
            Growing
        <% } else if (state.current() == "harvest"){ %>
            <%=percent_complete%>% Complete
            <p><%=crops_harvested%> <%=crop.name%> from harvest</p>
        <% } %>
    </div>
</script>
