<script type="text/template" id="hud-template">
    <a class="btn float-right" data-action="add_street">Build Street</a>
    <a class="btn float-right" data-action="pause">Pause</a>

    <ul class="list">
        <li data-fill="calendar_date">
            <span data-fill="calendar_month" /> Month of Year <span data-fill="calendar_year" />
        </li>
        <li data-fill="clock_time">
        </li>
        <li>Funds: $<span data-fill="balance"></span></li>
        <li>Occupancy: <span data-fill="occupancy_percent"></span>%</li>
    </ul>

    <h1><%=town.name%></h1>
</script>
