<script type="text/template" id="town-template">
    <div class="town <%= is_night ? 'is_night' : 'is_day' %>">
        <div class="visitors"></div>
        <div class="streets"></div>
    </div>
</script>

<script type="text/template" id="visitors-template">
    <% if (visitors.length){ %>
        <div class="cap">
            Visitors: <%=visitors.length%>
        </div>

        <% _.each(visitors, function(visitor, i){ %>
            <div class="visitor">
                <%
                    classes = []
                    if (selected_visitor && selected_visitor == i){
                        classes.push('active');
                    }
                %>
                <a class="<%=classes.join(' ')%>" data-action="launch_visitor_menu" data-index="<%=i%>" href="#">
                    <%=visitor.name%><%=(i < visitors.length - 1 ? ', ' : '')%>
                </a>
            </div>
        <% }); %>
    <% } %>
</script>
