.btn {
  display: inline-block;
  min-width: 60px;
  padding: 12px 16px;
  background-color: #fafafa;
  border: 1px solid #888;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  color: #888;
  border-radius: 3px;
  cursor: pointer;
  font-size: inherit;
}
.btn:hover {
  background-color: #888;
  border-color: #888;
  color: #fafafa;
}
.sticky-alert {
  position: fixed;
  display: block;
  width: 400px;
  padding: 16px;
  text-align: center;
  background-color: #ffc;
  border-style: solid;
  border-color: #d8d8d8;
  border-width: 0 1px 1px;
  border-radius: 0 3px 3px 0;
  top: 0;
  left: 50%;
  margin-left: -200px;
}
.sticky-alert p {
  margin: 6px 0 0;
  font-size: 14px;
}
.sticky-alert .close {
  float: right;
  color: #888;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.sticky-alert .close:hover {
  color: #333;
}
.sticky-alert.error {
  background-color: #c00;
  color: #f8f8f8;
}
.town {
  padding: 20px;
}
.town .street {
  display: block;
  height: 200px;
  padding: 30px;
  border: 1px solid #d8d8d8;
  text-align: center;
  margin: 20px 0;
}
.town .street .actions {
  float: right;
}
.town .blocks {
  height: 100%;
}
.town .blocks .block {
  float: left;
  width: 200px;
  margin: 0 20px;
  border: 1px solid #333;
  height: 100%;
}
.town .blocks .block:first-child {
  margin-left: 0;
}
.town .blocks .block:last-child {
  margin-right: 0;
}
.town .blocks .block:hover {
  -moz-box-shadow: 0 0 10px #d8d8d8;
  -webkit-box-shadow: 0 0 10px #d8d8d8;
  box-shadow: 0 0 10px #d8d8d8;
  border-color: #888;
  cursor: pointer;
}
.town .blocks .block .body {
  margin: 12px;
}
#hud {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fafafa;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 20px;
}
#hud h1 {
  margin: 0;
  font-size: 22px;
  color: #555;
  font-weight: 300;
  margin: 16px 8px;
}
#hud .btn {
  margin: 8px;
}
#hud .list {
  list-style-type: none;
  padding: 0;
  float: right;
  border-style: solid;
  border-color: #d8d8d8;
  border-width: 0;
  margin: 0 40px;
}
#hud .list li {
  display: inline-block;
  border-right: 1px solid #d8d8d8;
  min-width: 120px;
  text-align: center;
  font-size: 18px;
  padding: 18px;
}
#hud .list li:last-child {
  border-right: none;
}
.floating-menu {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 240px;
  height: auto;
  border: 1px solid #888;
  -moz-box-shadow: 0 0 10px #d8d8d8;
  -webkit-box-shadow: 0 0 10px #d8d8d8;
  box-shadow: 0 0 10px #d8d8d8;
  background-color: #fafafa;
  border-radius: 5px;
}
.floating-menu .titlebar {
  font-size: 18px;
  border-bottom: 1px solid #888;
  padding: 16px 18px;
  color: #555;
}
.floating-menu .titlebar .close {
  float: right;
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
}
.floating-menu .titlebar .close:hover {
  color: #888;
}
.floating-menu .body {
  background-color: #f8f8f8;
  padding: 16px 18px;
}
.floating-menu .body ul li {
  margin: 12px 0;
}
.floating-menu .body ul li:first-child {
  margin-top: 0;
}
.floating-menu .body ul li:last-child {
  margin-bottom: 0;
}
.visitors {
  border: 1px solid #d8d8d8;
  padding: 16px 20px;
}
.visitors .cap {
  margin: -16px 16px -16px -20px;
  border-right: 1px solid #d8d8d8;
  padding: 16px 20px;
  background-color: #fafafa;
  display: block;
  float: left;
}
.visitors .visitor {
  display: inline-block;
}
.visitors .visitor a.active {
  background-color: #ff9;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
}
#container {
  padding-top: 60px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.center-text {
  text-align: center;
}
.block {
  display: block;
}
ul.unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #2a3c50;
  text-decoration: none;
}
a:hover {
  color: #4d6e93;
}
